@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://kit-pro.fontawesome.com/releases/v5.12.0/css/pro.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

input, button, textarea, select {
  font-family: inherit;
  color: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4e4e4e;
}

.App {
  width: 1200px;
  margin: auto;
  padding: 30px 0;
}

.my-style {
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid #dcdddf;
}

.btn {
  background: #4e4e4e;
  border: none;
  color: #fff;
  text-transform: capitalize;
  margin-top: 12px;
  padding: 10px 25px;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.error-notification{
  margin-bottom: 25px;
  width: 100%;
  background: rgba(255, 3, 3, 0.20);
  padding: 12px 20px;
  color: #ff0303;
  span{
    font-weight: 700;
  }
}